/*Se resetea la configuración básica preestablecida*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heredando propiedades */
nav{
    padding: 15px 0px;
}
body{
    background-color: var(--secundary-color);
    color:var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
}

footer{
    background-color:#011d17 ;
    text-align: center;
}

/*Se agregan colores primarios para esto se utliza un root*/
:root{
--primary-color: #B7F3F3;
--secundary-color:#000A08;
}


h1{
    font-size: 80px;
    padding: 0px 8px 15px 15px ;
    text-align: center;
    -webkit-text-stroke: 2px rgb(247, 241, 246);
    color: var(--secundary-color);
    margin: 0px;
    background-color: var(--primary-color);
}

#imagen{
    border-radius: 49px;
    padding: 10px 10px 0 10px;
    width: 130px;
} 

/*Iconos del menu*/
.title{
    text-decoration:aquamarine;
    color: var(--primary-color);
    transition: .3s;
}

.material-symbols-outlined {
    font-size: 29px;
}



/*palabra que acompaña al icono del menu*/
.menu{
    background-color: var(--secundary-color);
    padding: 18px;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav :hover{
    color: rgb(10, 117, 64);
}

/*carrousel*/